* {
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    border-radius: 30px 0 0 30px;
    height: 550px;
    overflow: scroll;
    background-color: rgb(224, 232, 233);
}

.inner-card {
    background-color: #deb887;
    box-shadow: inset 0px 0px 8px;
    display: inline-block;
    border-radius: 30px 30px;
    height: 225px;
    width: 285px;
    padding: 30px;
    margin: 10px 8px 10px 4px;
    overflow: auto;
}

.card-text {
    font-family: 'Montserrat', 'Arial', sans-serif;
}